FOUNDER_TIME_SCRIPT_URL=https://script.google.com/macros/s/YOUR_FOUNDER_TIME_DEPLOYMENT_ID/exec
FOUNDER_TIME_SECRET=CHANGE_ME_TO_THE_SAME_SECRET_USED_IN_APPS_SCRIPT
FOUNDER_TIME_ALLOWED_EMAIL=martinc@boftbuild.com
